.hide {
  display: none;
}

.btn {
  border-radius: 5px;
  border-style: solid;
  border-color: lightgray;

  margin: 20px;
}

#balance-output {
  font-weight: bold;
}

#activity {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

#withdrawal {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;

  padding: 20px;
}

#deposit {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;

  padding: 20px;
}